HTTP_OK=200
OTLP_ENDPOINT_SECRET_V11=OTLP_ENDPOINT_SECRET_V11 #pragma: allowlist secret
OTLP_CREDENTIALS_SECRET_V11=OTLP_CREDENTIALS_SECRET_V11 #pragma: allowlist secret
SERVICE_NAME_V11=my_service
AWS_SESSION_TOKEN=my_aws_session_token
SECRET_ENDPOINT=http://localhost:2773/secretsmanager/get?secretId={} #pragma: allowlist secret
LOG_LEVEL=DEBUG
